<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" style="padding: 8px 20px 10px !important" href="/"><img src="/assets/logo.png" alt="Effectus"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
              <li class="active"><a href="about">About Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



      <div class="container-fluid">
          <div class="hero-unit">
            <h1>Xnovo</h1>
            <p>
            <p>means "from the beginning" in latin ('ex novo'), is a team that runs an IT blog primarily focusing on best QA practices and in addition planning to deliver a number of simple tools that would facilitate day-to-day activities.
            <br>
            <p>
            'Effectus' is an early bird tool based on some well-known formulas that is free of charge & available to everyone in order to assist in performance testing measurement
            <br>
            <p>
            We encourage you to follow our blog as to stay up to date in terms of the handy QA practices that we find useful & new tools to be delivered</p>
          </div>


        <footer style="color:#FFF; text-align:center";>
        <hr>
        <p>&copy; Effectus 2013 - Cares of your calculation</p>


        <ul class="social-buttons" style="list-style: none; width: 200px; margin: 0 auto; position: relative">
            <li style="float: left; margin-right: 10px; width: 100px; display: table;">
                <a href="https://twitter.com/xnovoo" class="twitter-follow-button" data-show-count="false">Follow @xnovoo</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li style="width: 100px;display: table-cell;"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/xnovoo&amp;layout=button_count&amp;width=450&amp;action=like&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe><style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style>
            </li>
        </ul>
      </footer>
</div><!--/.fluid-container-->

<script type="text/javascript">
window.onload=function(){
  var key = "12e28e6c-1dc8-4dcc-a338-7e3e36f0e179";
  var host = "//logs.loggly.com";
  castor = new loggly.castor({ url: host+'/inputs/'+key, level: 'log'});
  castor.log("OK");
  castor.log({date: Date(), location: window.location.href});
}
</script>
<script type="text/javascript" src="//d3eyf2cx8mbems.cloudfront.net/js/loggly-0.2.1.js"></script>




