 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" style="padding: 8px 20px 10px !important" href="/"><img src="/assets/logo.png" alt="Effectus"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
              <li><a href="about">About Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><legend>Performance Targets</legend></li>
              <li>
                <%= form_tag(root_path, :id => 'stats-form') do %>
                   <ol>
                    <li>
                      <%= label_tag(:ppv, "Pages per Visit") %>
                      <%= text_field_tag(:ppv, @pages_per_visit, :maxlength => '3', :placeholder => 'Enter a value', :required => 'required' ) %>
                    </li>
                    <li>
                      <%= label_tag(:ttime, "Think Time") %>
                      <%= text_field_tag(:ttime, @think_time, :maxlength => '3', :placeholder => 'Enter a value', :required => 'required') %>
                    </li>
                    <li>
                      <%= label_tag(:prt, "Page Response Time") %>
                    <%= text_field_tag(:prt, @page_response_time, :maxlength => '3', :placeholder => 'Enter a value', :required => 'required') %>
                    </li>
                    
                    <li>
                      <%= label_tag(:ups, "Users per Second") %>
                    <%= text_field_tag(:ups, @usr_per_second,:maxlength => '4', :placeholder => 'Enter a value', :required => 'required') %> </br>
                    </li>
                      <%= submit_tag("Calculate", :id => "submit", :class => "btn btn-primary btn-large") %>
                   </ol>
                   <% end %>
                 
              </li>
              <li class="nav-header"><%= form_tag(root_path) do %><legend>Recommended test model</legend></li>
              <li>
                   <ol>
                    <li>
                      <%= label_tag(:vd, "Visit Duration") %>
                      <%= text_field_tag(:vd, @visit_duration, :disabled => true) %>
                    </li>
                      
                      <li>
                      <%= label_tag(:av, "Active Visitors") %>
                      <%= text_field_tag(:av, @active_visitors, :disabled => true) %>
                    </li>
                    <li>
                      <%= label_tag(:cpr, "Concurrent Page Requests") %>
                    <%= text_field_tag(:cpr, @concurrent_page_requests, :disabled => true) %>
                      </li>
                      <li>
                      <%= label_tag(:tp, "Throughput") %> 
                    <%= text_field_tag(:tp, @throughput, :disabled => true) %>
                    </li>
                   </ol>  
                     
                   <% end %>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Effectus</h1>
            <p>
            <p>Is a simple web tool that helps in calculation of  your performance testing targets. Based on a simple math and logic it provides an easy way to validate and predict performance testing models. There is a number of approaches on building testing suits, though most of them are based on marketing research and client expectations and do not provide fully reliable analysis. 'Effectus' will help QA / Engineering teams check if performance test results correspond the modelled target.
            You can find some more information on Performance Targets Modelling on our blog.</p>
            <p><a href="http://xnovo.org/2013/02/20/a-word-on-performance-testing-targets/" class="btn btn-primary btn-large" target="_blank">To the blog &raquo;</a></p>
          </div>
          
      </div><!--/row-->

</div>

            <footer style="color:#FFF; text-align:center">
             <hr>
              <p>&copy; Effectus 2013 - Cares of your calculation</p>


              <ul class="social-buttons" style="list-style: none; width: 200px; margin: 0 auto; position: relative">
                  <li style="float: left; margin-right: 10px; width: 100px; display: table;">
                      <a href="https://twitter.com/xnovoo" class="twitter-follow-button" data-show-count="false">Follow @xnovoo</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </li>
                  <li style="width: 100px;display: table-cell;"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/xnovoo&amp;layout=button_count&amp;width=450&amp;action=like&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe><style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style>
                  </li>
              </ul>
           </footer>
        </div>

    </div><!--/.fluid-container-->





