/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-responsive
 *= require bootstrap-responsive.min
 *= require bootstrap_stuff
 *= require calculator
 *= require_self
 *= require_tree .
 */
body {
    padding-top: 80px;
    padding-bottom: 40px;
    background: image-url('debut_dark.png') repeat scroll 0 0 transparent;
}

input[type=text] {
  width:80%;
}

ol {
	list-style:none;
}

.social-buttons {
  list-style: none;
  display: inline-block;
  width: 200px;
}

.social-buttons li {
  display: inline;
  margin-right: 10px;
}

