<!DOCTYPE html>
<html>
<head>
   <title>Effectus</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
   <%= javascript_include_tag "application"%>
   <%= csrf_meta_tags %>
   <link rel="shortcut icon" href="favicon.ico" />

</head>
<body>
<%= yield %>
</body>
</html>
